@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  background-color: #18181b;
}
::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 55%, 0);
  /* visibility: hidden; */
}

body {
  background: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#arrow {
  transform: translateY(-30%);
  transition: transform 0.3s ease;
}

.relative:hover #arrow {
  transform: translateY(0);
}

@layer utilities {
  .text-custom-gradient {
    background: linear-gradient(
      90deg,
      rgba(162, 161, 161, 1) 0%,
      rgba(71, 250, 146, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .animation-fadeIn1 {
    @apply animate-fadeIn1;
  }
  .animation-fadeIn2 {
    @apply animate-fadeIn2;
  }
  .animation-fadeIn3 {
    @apply animate-fadeIn3;
  }
  .animation-fadeIn4 {
    @apply animate-fadeIn4;
  }
  .animation-fadeIn5 {
    @apply animate-fadeIn5;
  }
  .animation-fadeIn6 {
    @apply animate-fadeIn6;
  }
  .animation-fadeIn7 {
    @apply animate-fadeIn7;
  }
  .bg-border-general {
    @apply border  border-[#202020] bg-[#101010] rounded-2xl;
  }
  .bg-border-especifico {
    @apply bg-color-card border border-color-border;
  }
  .container {
    @apply flex items-center justify-center;
  }
  .clip-half {
    clip-path: inset(87.11% 0 0 0);
  }
}

.tecnolia-text {
  color: black;
  text-shadow: -1px -1px 0 #46f790c5, 1px -1px 0 #46f790c5, -1px 1px 0 #46f790c5,
    1px 1px 0 #46f790c5;
}
