@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#arrow {
  transform: translateY(-30%);
  transition: transform 0.3s ease;
}

.relative:hover #arrow {
  transform: translateY(0);
}

@layer utilities {
  .text-custom-gradient {
    background: linear-gradient(
      90deg,
      rgba(162, 161, 161, 1) 0%,
      rgba(71, 250, 146, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.tecnolia-text {
  color: black;
  text-shadow: -1px -1px 0 #46f790c5, 1px -1px 0 #46f790c5, -1px 1px 0 #46f790c5,
    1px 1px 0 #46f790c5;
}
